body {
  font-family: 'Montserrat', sans-serif;
  
}

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

.user-input {
  box-sizing: border-box;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  padding: 15px;
  outline: none;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080; 
}

.button-search {
  border-radius: 8px;
  padding: 8px 16px; 
  border: none;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.button-search:hover {
  background-color: #6c8cff;
}

.user-input:hover {
  border: 1px solid #000;
}

.user-input:focus {
  border: 1px solid #4e75ff;
}

.ul-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1128px;
  gap: 24px;
}

.gallery-card {
  border: 1px solid #808080;
  width: calc((100% - 72px) / 3);
}

.gallery-img {
  display: block;
  object-fit: cover; 
  width: 360px;
  height: 200px;
  position: relative;
  z-index: 1;
}

.stat-img {
  display: flex;
  justify-content: space-around;
  
}

.img-stat-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.number-of-stat {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.ul-gallery {
  margin-bottom: 32px;
}

/*======= Button load more ========*/

.load-more-button.is-hidden {
  display: none;
}

.load-more-button {
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #4e75ff;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.load-more-button:hover {
  background-color: #6c8cff;
}

.button-load {
  display: flex;
  justify-content: center;

}

/*======= Loader ========*/

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
}

.loader-container.is-hidden {
  display: none;
}

.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #406eeb;
  box-shadow: 30px 0 0 #ff3d00;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #3ad2dd;
  box-shadow: 30px 0 0 #fff;
}

@keyframes rotate {
  0% { transform: rotate(0deg) scale(0.8) }
  50% { transform: rotate(360deg) scale(1.2) }
  100% { transform: rotate(720deg) scale(0.8) }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #ff3d00;
  }
  50% {
    box-shadow: 0 0 0 #ff3d00;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}
